# =========================
# Ignore everything by default
# =========================
*

# =========================
# Allow 03_CAPSTONED folder
# =========================
!03_CAPSTONED/
!03_CAPSTONED/**

# =========================
# Always ignore environments
# =========================
.venv/
env/
ENV/
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store